[worldserver]
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: FLYHACK SETTINGS
#    AntiCheats.FlyHack
#        Description: Enable AntiCheat.FlyHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.FlyHack.Enabled = 1

#    AntiCheats.FlyHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on flyhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 flyhack reports in `anticheat_logs`.

AntiCheats.FlyHack.GMText = -1

#    AntiCheats.FlyHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on flyhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 flyhack reports in `anticheat_logs`.

AntiCheats.FlyHack.ApplyPenalty = 0

#    AntiCheats.FlyHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.FlyHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Char Ban) Permanent ban for player from the server
#                     3 - (Account Ban) Permanent ban for account from the server

AntiCheats.FlyHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: SPEEDHACK SETTINGS
#    AntiCheats.SpeedHack
#        Description: Enable AntiCheat.SpeedHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.SpeedHack.Enabled = 1

#    AntiCheats.SpeedHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on speedhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 speedhack reports in `anticheat_logs`.

AntiCheats.SpeedHack.GMText = -1

#    AntiCheats.SpeedHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on speedhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 speedhack reports in `anticheat_logs`.

AntiCheats.SpeedHack.ApplyPenalty = 0

#    AntiCheats.SpeedHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.SpeedHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.SpeedHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: DOUBLEJUMPHACK SETTINGS
#    AntiCheats.DoubleJumpHack
#        Description: Enable DoubleJumpHack.FlyHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.DoubleJumpHack.Enabled = 1

#    AntiCheats.DoubleJumpHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on double jump hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 double jump hack reports in `anticheat_logs`.

AntiCheats.DoubleJumpHack.GMText = -1

#    AntiCheats.DoubleJumpHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on double jump hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 double jump hack reports in `anticheat_logs`.

AntiCheats.DoubleJumpHack.ApplyPenalty = 0

#    AntiCheats.DoubleJumpHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.DoubleJumpHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.DoubleJumpHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: FAKEJUMPHACK SETTINGS
#    AntiCheats.FakeJumpHack
#        Description: Enable AntiCheat.FakeJumpHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.FakeJumpHack.Enabled = 1

#    AntiCheats.FakeJumpHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on fake jump hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 fake jump hack reports in `anticheat_logs`.

AntiCheats.FakeJumpHack.GMText = -1

#    AntiCheats.FakeJumpHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on fake jump hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 fake jump hack reports in `anticheat_logs`.

AntiCheats.FakeJumpHack.ApplyPenalty = 0

#    AntiCheats.FakeJumpHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.FakeJumpHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.FakeJumpHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: FAKEFLYHACK SETTINGS
#    AntiCheats.FakeFlyHack
#        Description: Enable FakeFlyHack.FlyHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.FakeFlyHack.Enabled = 1

#    AntiCheats.FakeFlyHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on fake fly hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 fake fly hack reports in `anticheat_logs`.

AntiCheats.FakeFlyHack.GMText = -1

#    AntiCheats.FakeFlyHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on fake fly hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 fake fly hack reports in `anticheat_logs`.

AntiCheats.FakeFlyHack.ApplyPenalty = 0

#    AntiCheats.FakeFlyHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.FakeFlyHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.FakeFlyHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: IGNORECONTROLHACK SETTINGS
#    AntiCheats.IgnoreControlHack
#        Description: Enable AntiCheat.IgnoreControlHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.IgnoreControlHack.Enabled = 1

#    AntiCheats.IgnoreControlHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on ignore control hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 ignore control hack reports in `anticheat_logs`.

AntiCheats.IgnoreControlHack.GMText = -1

#    AntiCheats.IgnoreControlHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on ignore control hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 ignore control hack reports in `anticheat_logs`.

AntiCheats.IgnoreControlHack.ApplyPenalty = 0

#    AntiCheats.IgnoreControlHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.IgnoreControlHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.IgnoreControlHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: CLIMBHACK SETTINGS
#    AntiCheats.ClimbHack
#        Description: Enable ClimbHack.FlyHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.ClimbHack.Enabled = 1

#    AntiCheats.ClimbHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on climbhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 climbhack reports in `anticheat_logs`.

AntiCheats.ClimbHack.GMText = -1

#    AntiCheats.ClimbHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on climbhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 climbhack reports in `anticheat_logs`.

AntiCheats.ClimbHack.ApplyPenalty = 0

#    AntiCheats.ClimbHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.ClimbHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.ClimbHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: NOFALLINGHACK SETTINGS
#    AntiCheats.NoFallingHack
#        Description: Enable NoFallingHack.FlyHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.NoFallingHack.Enabled = 1

#    AntiCheats.NoFallingHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on no falling hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 no falling hack reports in `anticheat_logs`.

AntiCheats.NoFallingHack.GMText = -1

#    AntiCheats.NoFallingHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on no falling hack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 no falling hack reports in `anticheat_logs`.

AntiCheats.NoFallingHack.ApplyPenalty = 0

#    AntiCheats.NoFallingHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.NoFallingHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.NoFallingHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: WATERWALKHACK SETTINGS
#    AntiCheats.WaterwalkHack
#        Description: Enable AntiCheat.WaterwalkHack
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

AntiCheats.WaterwalkHack.Enabled = 1

#    AntiCheats.WaterwalkHack.GMText
#        Description: Decide whenever server should send warning about potential hacker to GMs ingame
#        Default:     -1 - (Enabled) Every single warning will be send to GMs
#                     0 - (Disabled) No warning send to GMs
#                     > 0 - Warning will be send to GMs depending on waterwalkhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Warning will be send to GMs ingame if hacker will exceed 50 waterwalkhack reports in `anticheat_logs`.

AntiCheats.WaterwalkHack.GMText = -1

#    AntiCheats.WaterwalkHack.ApplyPenalty
#        Description: Decide whenever server automatically punish the hacker
#        Default:     0 - (Disabled) No automatic penalty - you can always punish the hacker by yourself manually (e.g via command)
#                     -1 - (Enabled) Every single report will be punished
#                     > 0 - Penalty will be apply depending on waterwalkhack report numbers in DB (in `anticheat_logs`)
#                           E.g. 50 - Penalty will be apply if hacker will exceed 50 waterwalkhack reports in `anticheat_logs`.

AntiCheats.WaterwalkHack.ApplyPenalty = 0

#    AntiCheats.WaterwalkHack.PenaltyType
#        Description: Choose penalty type (only if AntiCheats.WaterwalkHack.ApplyPenalty is enabled)
#        Default:     0 - (None) No penalty
#                     1 - (Kick) Kick from the server
#                     2 - (Ban) Permanent ban from the server

AntiCheats.WaterwalkHack.PenaltyType = 0
#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: LOGGING SETTINGS

Appender.Anticheat=2,3,15,Anticheat.log
Logger.anticheat=4,Console Anticheat

#
###################################################################################################

###################################################################################################
# ANTI-CHEAT: MISC SETTINGS
#    AntiCheats.FlyHackTimer
#        Description: Timer for AntiCheat FlyHack check
#        Default:     3000 - 1 check in 3 second (for big projects better (1500ppl +) set 5000 (5 sec) or more)

AntiCheats.FlyHackTimer = 3000

# AntiCheats.forceExcludeMapsid disabled maps
#        Description: disabled mapid for anticheat system
#        Example:     "616,649"

AntiCheats.forceExcludeMapsid = "616,649"

#    AntiCheats.forceExcludeAreasid disabled maps
#        Description: disabled areas for anticheat system
#        Example:     "4247,477"

AntiCheats.forceExcludeAreasid = "4859"
#
###################################################################################################
